<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xarial.XCad" version="0.9.0-alpha.5259" targetFramework="net472" />
  <package id="Xarial.XCad.SolidWorks" version="0.9.0-alpha.5259" targetFramework="net472" />
  <package id="Xarial.XCad.Toolkit" version="0.9.0-alpha.5259" targetFramework="net472" />
</packages>